<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">Document</title>
</head>
<body>
	
	<section>
		<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				
				<div class="mycard mt-1">

				
					
					<form th:action="@{/user/process-contact}" method="post"  novalidate="novalidate" th:object="${contact}" enctype="multipart/form-data">
					<h1 class="text-center">Add Contact</h1>
						<div th:if="${session.message}" th:classappend="${session.message.type}"class="alert" role="alert">
							  <p th:text="${session.message.content}"></p>
							  <!-- <th:block th:text="${@sessionHelper.removeSession()}"></th:block> -->
						</div>
					
							<div class="mb-3">
						    <label for="nameField" class="form-label">Name</label>
						    <input 
						    name="name"
						    type="text" 
						    class="form-control" 
						    id="nameField" 
						    aria-describedby="emailHelp"
						    placeholder="Enter Name here"
						    th:value="${contact.name}"
						    required>
						    
						 </div>
						 <div class="mb-3">
						    <label for="secondNameField" class="form-label">Nick Name</label>
						    <input 
						    name="secondName"
						    type="text" 
						    class="form-control" 
						    id="secondNameField" 
						    aria-describedby="emailHelp"
						    placeholder="Enter Nick Name here"
						    th:value="${contact.secondName}"
						    required>
						    
						 </div>
						 
						 <div class="mb-3">
						    <label for="emailField" class="form-label">Email</label>
						    <input 
						    name="email"
						    type="email" 
						    class="form-control" 
						    id="emailField" 
						    aria-describedby="emailHelp"
						    placeholder="Enter Email here"
						    th:value="${contact.email}"
						    required>
						    
						 </div>
						 <div class="mb-3">
						    <label for="phoneField" class="form-label">Phone</label>
						    <input
						    name="phone" 
						    type="number" 
						    class="form-control" 
						    id="phoneField" 
						    aria-describedby="emailHelp"
						    placeholder="Enter Phone Number here"
						    required
						     th:value="${contact.phone}"
						     min="10">
						   
						 </div>
						 <div class="mb-3">
						    <label for="workField" class="form-label">Work</label>
						    <input
						    name="work" 
						    type="text" 
						    class="form-control" 
						    id="workField" 
						    aria-describedby="emailHelp"
						    placeholder="Enter Work here"
						    required
						     th:value="${contact.work}">
						   
						 </div>
						 
						 <div class="mb-3">
						    <label for="descField" class="form-label">Description</label>
						    <textarea
						    name="description"  
						    rows="10"
						    class="form-control" 
						     
						    id="mytextarea"
						    aria-describedby="emailHelp"
						    placeholder="Enter contact description"
						    required
						     th:text="${contact.description}">
						   </textarea>
						 </div>
						 
						 <div class="mb-3">
						    <label for="imageField" class="form-label">Profile</label>
						    <input
						    name="profileImage" 
						    type="file" 
						    class="form-control" 
						    id="imageField" 
						    th:value="${contact.image}">
						    
						 </div> 
						 
						 
						 
						 <div class="container text-center">
						 	<button class="btn bg-primary text-white" type="submit">Save Contact</button>
						 
						 </div>
					
					</form>
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
</html>